<nav class="navbar">
  <h1 class="navbar__heading h2">MUSIC</h1>
  <a class="navbar__item link" [routerLink]="['/']">Discover</a>
  <a class="navbar__item link" [routerLink]="['/']">Rising</a>
  <a class="navbar__item link" [routerLink]="['/']">Inspiration</a>
  <a class="navbar__item link" [routerLink]="['/']">My stars</a>
  <a class="navbar__item link" [routerLink]="['/']">Songs</a>
  <a class="navbar__item link" [routerLink]="['/']">Artist</a>
  <a class="navbar__item link" [routerLink]="['/']">Albums</a>
  <a class="navbar__item link" [routerLink]="['/']">Radio</a>
</nav>